.venv
*.code-workspace
# Ignore Python bytecode files
__pycache__/
*.pyc
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
.env

build_nuitka.py
psr.build
psr.dist
*.exe
steps_report.html
generate_icon.py